.left-right-content-component {
    height: calc(100vh - 20px);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    .left-content {
        width: calc(50% - 5px);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
    }

    .right-content {
        width: calc(50% - 5px);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
    }
}